/* @import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap'); */

.invisible{
  display:none;
}
.article-type-product {
  margin: 100px 5%;
  font-family: "Raleway", sans-serif;

}

.descripcion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.name-product,
.price-product,
.title-type-product,
h1 {
  color: #464646;

}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  

}

.title-type-product {
  font-size: 30px;
  font-weight: bold;
}

.see-all {
  display: flex;
  width: 11%;
  align-items: center;

}

.see-all a {
  text-decoration: none;
  color: #2A7AE4;
  font-size: 18px;
  font-weight: bolder;

}

.flecha {
  margin-left: 10px;
  margin-right: 0;
  height: 60%;
}

.contenedor-produtos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor-producto {
  width: 15%;
  text-align: center;
  margin-bottom: 50px;

}

.contenedor-producto img {
  width: 100%;
}

.name-product {
  margin-top: 10px;
  font-size: 17px;

}

.price-product {
  font-size: 21px;
  font-weight: bold;
  margin: 10px 0;
}

a.see-product {
  text-decoration: none;
  color: #2A7AE4;
  font-weight: bold;
  font-size: 20px;
}

a.see-product:hover {
  text-decoration: underline;
}

/* estos estilos son para la seccion del administrador editar y  eliminar  */

.btn-agregar-producto{
  color:#fff;
  background-color:#2A7AE4;
  text-decoration: none;
  padding:15px 25px;
 
}
.descripcion.titulo{
 
  margin-bottom:30px;
}


.icon-editar,.icon-eliminar{
  cursor: pointer;

  width: 20px;
  height:20px;
  top: 10px;
}

.contenedor-eliminar{
  top: 10px;
  left: 68%;
  position: absolute;
  

 
}
.contenedor-editar{
  top: 10px;
  left: 85%;
  position: absolute;
  /* border: red 1px solid; */
}

.contenedor-image{
  position: relative;
  /* border: red 1px solid; */
 
  width:100%;
}

/*  celulares */
@media (max-width: 700px) {
  .section-products {
    margin-top: 50px;
  }


  .title-type-product {
    font-size: 25px;

  }

  .see-all {

    width: 35%;

  }

  .see-all a {

    font-size: 15px;

  }


  .contenedor-producto {
    width: 45%;

  }



  .name-product {

    font-size: 17px;

  }




}

/* tablet */
@media (min-width: 700px) and (max-width: 910px) {
.contenedor-producto{
  width: 22%;
}

.contenedor-producto:nth-last-child(-n+2){ /* escoge  los ultimos dos */
  display: none;
}

.see-all{
  width: 20%;
}
  
}