/* @import url('https://fonts.googleapis.com/css2? family= Raleway:wght@200 & display=swap'); */

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Raleway';

}

.left {
  display: flex;
  width: 600px;

}

.contenedor-icon {
  display: flex;
  align-items: center;
}

.contenedor-icon .icon-image {
  width: 38px;

}

img.icon_leter_one {
  height: 25px;
  width: 50px;
}

img.icon_leter_two {
  height: 25px;
  width: 50px;
  padding-right: 15px;
}

.buscador-input,
.contenedor-buscador {
  background: #f5f5f5;
}

.contenedor-buscador {
  width: 420px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.buscador-input {
  border: none;
  color: #a2a2a2;
  width: 300px;
}

.buscador-input:focus {
  outline: none;
}

.buscador-input::placeholder {
  color: #a2a2a2;
  font-size: 14px;
}

.buscador-lupa {
  height: 15px;
  cursor: pointer;
}

.button-login {
  padding: 3% 30px;
  border: solid 1px #2a7ae4;
  color: #2a7ae4;
  text-decoration: none;
  font-size: 16px;
}

.button-login:hover{
  background-color: #2a7ae4;
  color: #fff
}


/*  celulares */
@media (max-width: 700px) {
  #button-registrarce{
    display: none
  }
 
  .contenedor-icon .icon-image {
    width: 28px;
  
  }
  
  img.icon_leter_two {
    
    padding-right: 25px;
  
  }
  

  .buscador-input {
    display: none;
  }

  .left {
    width: 65%;
   
    
   
  }

  .contenedor-buscador {
    background: #fff;
    width: 20%;
   
 
  }

  .contenedor-icon {
    display: flex;
    justify-content: flex-end;
    
  }

  .buscador-lupa {
    height: 20px;
  }

  .button-login {
    padding: 10px 15px;
  }
}

/* tablet */

@media (min-width: 700px) and (max-width: 910px) {
  #button-registrarce{
    display: none
  }
}